{
 :repository-uri "https://github.com/klapuch/dev-bot.git"
 :repository-name "dev-bot"
 :user "klapuch"
 :clone-dir "/tmp/dev-bot"
 :commands {
  :composer-outdated {:command "echo 'composer-outdated'" :title "Composer: outdated packages"}
  :phpstan {:command "echo 'phpstan'" :branch "master" :title "Command PHPStan failed"}
  :phpcs {:command "echo 'phpcs'" :branch "bot-phpcs" :title "CS: Command PHPCS failed"}
  :phpcbf {:command "echo 'phpcbf'" :branch "bot-phpcs" :title "CS: PHPCBF fixes"}
  :eslint {:command "echo 'eslint'" :branch "bot-eslint" :title "CS: eslint failed"}
  :eslint-fix {:command "echo 'eslint-fix'" :branch "bot-eslint" :title "CS: eslint fixes"}
 }
}
